
<div class=container>
    <div class=show_title>

      <h1> <%= @habit.title %> </h1>
    </div>
    <div class=notes>
      <p> <%= @habit.description %> </p>
    </div>

    <div class=container>
      <div class="chart1">
        <% dates = []
           Faker::UniqueGenerator.clear
           7.times do
             dates << [(Faker::Date.unique.backward(days: 14)), rand(1..5)]
           end %>
        <% # <%= area_chart dates.sort_by { |el| el[0] } %>
        <h2>Mood:</h2>
        <%= area_chart dates, colors: ["orange", "#250000"] %>
        </div>
      <div>
      <br>
      <br>
    <div class="chart2">
       <% dates = []
          Faker::UniqueGenerator.clear
          7.times do
            dates << [(Faker::Date.unique.backward(days: 14)), rand(10..60)]
          end %>
        <h2>Duration</h2>
        <%= area_chart dates.sort_by { |el| el[0] } %>

    </div>
 <br>
<div class=remove>
  <%= link_to "Delete", habit_path(@habit),
     data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
  %>
</div>

      </div>
</div>
