<div class=container>
    <div class=show_title>

      <h1> <%= @habit.title %> </h1>
    </div>
    <div class=notes>
      <p> <%= @habit.description %> </p>

    </div>
    <div class=container>

      <div class="chart1">

          <h2>Mood:</h2>
          <%= line_chart @habit_session_average, colors: ["#F05454", "#250000"] %>
      </div>
        <br>
        <br>
      <div class="chart2">
        <h2>Duration</h2>
        <%= line_chart @habit_session_d_average, colors: ["#F05454", "#250000"] %>
      </div>
        <br>
        <br>
      <div class="chart2">
        <h2>Repetitions</h2>
        <%= line_chart @habit_session_r_average, colors: ["#F05454", "#250000"] %>
      </div>
    </div>
</div>
